body {

    background-image: url(bg.jpg) ;
  background-size: 100%;
  color: white;
}

h1 , h2 {
    margin-left: 25px;
}


.weight , .height , .name   {
    margin: 25px;
    border: none;
    background : transparent;
    border-bottom: white 1px solid;
    width : 27%; 
    height: 25px;
    color: white;

}
.height::placeholder   {
    font-size: large;
    color : rgb(92, 89, 89);
    margin-left: 5px;

}
.weight::placeholder   {
    font-size: large;
    color : rgb(92, 90, 90);
    margin-left: 5px;

}
.sub {
margin: 25px ;
background: transparent;
color: white;
border-radius: 8px;
border :1px solid white;
width: 110px;
height: 30px;

}
.sub:hover{
    margin: 25px ;
background: transparent;
color: white;
border-radius: 8px;
border :1px solid rgb(123, 255, 62);
width: 110px;
height: 30px;
font-size: large;

}

.name::placeholder {
    font-size: large;
    color : rgb(92, 89, 89);
    margin-left: 5px;


}
.profile {

    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    width: 30%;
    height: 500px;
    position: relative;
    top: -340px;
    left: 69%;
    display: none;
}
.nameprofile {
    /* paragraph  */
    width: 100%;
    height: 70px;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 8px;
    margin: 0px;
}
.sex {
margin-left: 25px ;

}
.femalephoto {
    
    height: 70px;
    margin-left:  5px;
    display: none;
  
}
.malephoto {
    height: 70px;
    margin-left:  5px;
    
}
.profilename {
    /* bold name */
position: relative;
font-size: x-large;
top: -20px;
left: 3px;
}
.content {
margin: 19px;
font-size: 20px;
}
/* animation */
.basicanim {
    width: 400px;
    height: 500px;
    position: relative;
    top : -860px;
    left: 32%;
    background-image: url(photo/normal.png);
}
.adddiv {
    width: 400px;
    height: 500px;
    top : -860px;
    left: 32%;
    display: none;
    position: relative;
    


    
}
.under {
    width: 100%;
    height: 100%;
    animation-name: under ;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    
}
@keyframes under {
    from {background-image: url(photo/normal.png);}
    to {background-image:  url(photo/under.png);}
}

/* end animation */