body {

    background-image: url(bg.jpg) ;
  background-size: 100%;
}




.weight , .height   {
    margin: 15px;
    border: none;
    background : transparent;
    border-bottom: white 1px solid;
    width : 27%; 
    height: 25px;
    color: white;

}
.height::placeholder   {
    font-size: large;
    color : white;
    margin-left: 5px;

}
.weight::placeholder   {
    font-size: large;
    color : white;
    margin-left: 5px;

}
.sub {
margin: 15px ;
}
